.text-pink{
    color: #FFB4B4;
}
.text-light-pink{
    color: #D6D6D6;
}
.text-light-pink.active{
    color: black;
}
.text-light-pink:active{
    color: black;
}
.text-active-pink{
    color: #F25287;
}
.text-grey{
    color: #bfbfbf;
}
.text-white{
    color: #fff;
}
.icon-login{
    width: 90%;
    height: 60%;
}
.btn-pink {
    background: #F25287;
    color: #fff;
}

.btn-pink:hover{
    background: #ff8fad;
    color: #F25287;
    border-color: #F25287;
}
.btn-profile{
    background: #ffffff;
    color: #F25287;
    border-color: #fce4ec;
}
.btn-profile:hover{
    background: #F25287;
    color: #f1f1f1;
}

.bg-pink{
    background: #D6D6D6;
}

.bg-grey{
    background: #FAFAFA;
}

.home-card{
    overflow: hidden;
    position: relative;
    height: 320px;
    background: #F25287;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.summary-card{
    overflow: hidden;
    position: relative;
    height: 220px;
    background: #F25287;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.mb-64px{
    margin-bottom: 64px;
}
.text-red {
    color: red;
}
.buble {
    background: #FF6D9E;
    position: absolute;
    border-radius: 50%;
}
.buble1{
    height: 256px;
    width: 256px;
    top: 70px;
    left: -100px
}

.buble2{
    height: 145px;
    width: 145px;
    top: 30px;
    right: -70px;
}

.buble3{
    height: 150px;
    width: 150px;
    top: 30px;
    right: -70px;
}

.buble4{
    height: 125px;
    width: 125px;
    top: 70px;
    left: -30px;
}
.box-shadow {
    box-shadow: 0 2px 5px 0
    rgba(219, 219, 219, 0.5), 0
    2px 10px 0 rgb(207, 207, 207);
}
.font-xs {
    font-size: 12px;
}

.image-responsive{
    object-fit: cover;
    object-position: center;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.font-18px {
    font-size: 17px;
}
.text-card-top {
    line-height: 1.2;
    font-size: 12px;
}
.font-40px{
    font-size: 40px;
}

.topnav {
    background-color: #FFB4B4;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

  .topnav a:hover {
    border-bottom: 3px solid #F25287;
  }

  .topnav a.active {
    border-bottom: 3px solid #2b2728;
  }

  .profile-card{
    overflow: hidden;
    position: relative;
    height: 520px;
    background: #F25287;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.thumb-lg {
    height: 120px;
    width: 120px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.image-chat-responsive{
    object-fit: cover;
    object-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.floating-action{
    bottom: 90px;
    right: 30px;
    position: fixed;
    border-radius: 50%;
    line-height: 50px;
    vertical-align: middle;
    background: #F25287;
    width: 50px;
    height: 50px;
}